
body {
  background-image: url('file:///C:/Users/ThisGuyGames/OneDrive/Pictures/Screenshots/Screenshot%202025-10-21%20153029.png');
  background-repeat: no-repeat;
background-size: cover;
}
p {
  color: red;
}
